/*--------------------------------------------------------------
# Pengalaman
--------------------------------------------------------------*/
.pengalaman .pengalaman-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #3b434a;
  text-align: start;
}

.pengalaman .pengalaman-item {
  padding: 0 0 0 10px;
  margin-top: -2px;
  border-left: 2px solid #82909c;
  position: relative;
}

.pengalaman .pengalaman-item h4 {
  line-height: 18px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 10px;
  text-align: start;
  
}

.pengalaman .pengalaman-item h5 {
  font-size: 16px;
  background: #eef0f2;
  padding: 5px 15px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: start;
}

.pengalaman .pengalaman-item ul {
  padding-left: 30px;
}

.pengalaman .pengalaman-item ul li {
  padding-bottom: 10px;
}

.pengalaman .pengalaman-item::before {
  
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #82909c;
  content: "";
}
.pengalaman .pengalaman-item:last-child {
  padding-bottom: 0;
}


/*--------------------------------------------------------------
# Section
--------------------------------------------------------------*/

section {
  padding: 30px 0;
}


.section-title {
  text-align: center;
  padding: 10px 0;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-bottom: 0px;
  color: #3b434a;
  position: relative;
  z-index: 2;
}

.section-title span {
  position: absolute;
  top: 10px;
  color: #eef0f2;
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 0;
}


